<div class='col-sm-12'>
    <div class='row'>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-cart" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" [routerLink]="['/home']">Di Mano In Mano</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-cart">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a [routerLink]="['/home']">Torna al negozio</a></li>
                        <li><a *ngIf="myBooks" (click)="Order()">Ordina</a></li>
                        <li><a (click)="Logout()">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class='row'>
        <div class='col-sm-12'>
            <p *ngIf="!myBooks" id="cart-warn"><em>Nessun elemento nel carrello</em></p>
            <table class='table' *ngIf="myBooks">
                <thead>
                  <tr>
                    <th>Titolo</th>
                    <th>Descrizione</th>
                    <th>Quantità</th>
                    <th>Prezzo Totale</th>
                    <th>Opzioni</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of myBooks">
                      <td>{{ book.TITLE }}</td>
                      <td>{{ book.DESCRIPTION }}</td>
                      <td>{{ book.ORD_QTY }}</td>
                      <td>{{ book.PRICE * book.ORD_QTY }} €</td>
                      <td>
                        <div class="row">
                            <div class="col-9">
                                <input
                                    name="rmBookId"
                                    type="hidden"
                                    class="form-control"
                                    value="{{ book.BOOK_ID }}"
                                    #rmBookId
                                />
                                <div class="input-group">
                                    <input
                                        name="rmQty"
                                        type="number"
                                        class="form-control"
                                        max="{{ book.QUANTITY }}"
                                        value="1"
                                        min="1"
                                        #rmQty
                                    />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" (click)="ModifyQty(rmBookId.value, rmQty.value)">Modifica Quantità</button>
                                        <button type="button" class="btn btn-danger" (click)="RemoveItem(rmBookId.value)">Rimuovi</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                      </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
