<div class='col-sm-12'>
    <div class='row'>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-home" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" [routerLink]="['/home']">Di Mano In Mano</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-home">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a [routerLink]="['/cart']">Vai al carrello</a></li>
                        <li><a (click)="Logout()">Logout</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" role="search" (ngSubmit)="SearchTitle()" #searchForm="ngForm">
                        <div class="form-group">
                            <input
                                id="TITLE"
                                name="TITLE"
                                class="form-control"
                                [(ngModel)]="inputBook.TITLE"
                                #TITLE="ngModel"
                                required
                                maxlength="255"
                                placeholder="Title"
                            />
                        </div>
                        <button type="submit" [disabled]="!searchForm.form.valid" class="btn btn-default">Cerca</button>
                    </form>
                    <form *ngIf="categories" class="navbar-form navbar-right" role="filter" (ngSubmit)="CategoryFilter()" #categoryForm="ngForm">
                        <div class="form-group">
                            <label for="CATEGORY_ID">Categoria</label>
                            <select
                                id="CATEGORY_ID"
                                name="CATEGORY_ID"
                                class="form-control"
                                [(ngModel)]="inputCat.CATEGORY_ID"
                                #CATEGORY_ID="ngModel"
                            >
                                <option value="0">All</option>
                                <option *ngFor="let category of categories" value="{{ category.CATEGORY_ID }}">{{ category.CATEGORY_NAME }}</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-default">Filtra</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class='row'>
        <div class='col-sm-12'>
            <p *ngIf="!books" id="loading-books"><em>Loading books...</em></p>

            <table class='table' *ngIf="books">
                <thead>
                    <tr>
                        <th>Titolo</th>
                        <th>ISBN</th>
                        <th>Autore</th>
                        <th>Categoria</th>
                        <th>Descrizione</th>
                        <th>Numero di pagine</th>
                        <th>Data di pubblicazione</th>
                        <th>Prezzo</th>
                        <th>Quantità disponibile</th>
                        <th>Aggiungi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="books.length < 1"><p>Nessun libro disponibile</p></tr>
                    <tr *ngFor="let book of books">
                        <td>{{ book.TITLE }}</td>
                        <td>{{ book.ISBN }}</td>
                        <td>{{ book.AUTHOR }}</td>
                        <td>{{ book.CATEGORY_NAME }}</td>
                        <td>{{ book.DESCRIPTION }}</td>
                        <td>{{ book.PAGES }}</td>
                        <td>{{ book.PUB_DATE }}</td>
                        <td>{{ book.PRICE }} €</td>
                        <td>{{ book.QUANTITY }}</td>
                        <td>
                            <div class="row">
                                <div class="col-12">
                                    <input
                                        name="bookid"
                                        class="form-control"
                                        type="hidden"
                                        value="{{ book.BOOK_ID }}"
                                        #bookid
                                    />
                                    <div class="input-group">
                                        <input
                                            name="qty"
                                            type="number"
                                            class="form-control"
                                            max="{{ book.QUANTITY }}"
                                            value="1"
                                            min="1"
                                            #qty
                                        />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-success" (click)="AddToCart(bookid.value, qty.value)">Aggiungi</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
