<div class='col-sm-3'>
    <div class="form-group" *ngIf="categories">
        <label for="catSelect">Select Category</label>
        <select class="form-control" id="catSelect">
            <option *ngFor="let category of categories" value="{{ category.CATEGORY_ID }}">{{ category.CATEGORY_NAME }}</option>
        </select>
    </div> 
</div>
<div class='col-sm-9 body-content'>
    <p *ngIf="!books"><em>Loading...</em></p>

    <table class='table' *ngIf="books">
        <thead>
            <tr>
                <th>Titolo</th>
                <th>ISBN</th>
                <th>Autore</th>
                <th>Categoria</th>
                <th>Descrizione</th>
                <th>Numero di pagine</th>
                <th>Data di pubblicazione</th>
                <th>Prezzo</th>
                <th>Quantità disponibile</th>
                <th>Aggiungi</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <td>{{ book.TITLE }}</td>
                <td>{{ book.ISBN }}</td>
                <td>{{ book.AUTHOR }}</td>
                <td>{{ book.CATEGORY }}</td>
                <td>{{ book.DESCRIPTION }}</td>
                <td>{{ book.PAGES }}</td>
                <td>{{ book.PUB_DATE }}</td>
                <td>{{ book.PRICE }} €</td>
                <td>{{ book.QUANTITY }}</td>
                <td>Aggiungi</td>
            </tr>
        </tbody>
    </table>
</div>
