<div class='col-sm-12'>
    <div class='row'>
        <div class="col-sm-3">
            <h1>Di Mano In Mano</h1>
        </div>
        <div class="col-sm-2 col-sm-offset-3">
            <form (ngSubmit)="SearchTitle()" #searchForm="ngForm">
                <div class="form-group">
                    <label for="TITLE">Titolo</label>
                    <input
                        id="TITLE"
                        name="TITLE"
                        class="form-control"
                        [(ngModel)]="inputBook.TITLE"
                        #TITLE="ngModel"
                        required
                        maxlength="255"
                    />
                    <button type="submit" [disabled]="!searchForm.form.valid" class="btn btn-success">Cerca</button>
                </div>
            </form>
        </div>
        <div class='col-sm-2'>
            <div *ngIf="categories">
                <form (ngSubmit)="CategoryFilter()" #categoryForm="ngForm">
                    <div class="form-group">
                        <label for="CATEGORY_ID">Categoria</label>
                        <select
                            id="CATEGORY_ID"
                            name="CATEGORY_ID"
                            class="form-control"
                            [(ngModel)]="inputCat.CATEGORY_ID"
                            #CATEGORY_ID="ngModel"
                        >
                            <option value="0">All</option>
                            <option *ngFor="let category of categories" value="{{ category.CATEGORY_ID }}">{{ category.CATEGORY_NAME }}</option>
                        </select>
                        <button type="submit" class="btn btn-success">Filtra</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-primary" [routerLink]="['/cart']">Vai al carrello</a>
            <a class="btn btn-danger" (click)="Logout()">Logout</a>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-12'>
            <p *ngIf="!books"><em>Loading books...</em></p>

            <table class='table' *ngIf="books">
                <thead>
                    <tr>
                        <th>Titolo</th>
                        <th>ISBN</th>
                        <th>Autore</th>
                        <th>Categoria</th>
                        <th>Descrizione</th>
                        <th>Numero di pagine</th>
                        <th>Data di pubblicazione</th>
                        <th>Prezzo</th>
                        <th>Quantità disponibile</th>
                        <th>Aggiungi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of books">
                        <td>{{ book.TITLE }}</td>
                        <td>{{ book.ISBN }}</td>
                        <td>{{ book.AUTHOR }}</td>
                        <td>{{ book.CATEGORY_NAME }}</td>
                        <td>{{ book.DESCRIPTION }}</td>
                        <td>{{ book.PAGES }}</td>
                        <td>{{ book.PUB_DATE }}</td>
                        <td>{{ book.PRICE }} €</td>
                        <td>{{ book.QUANTITY }}</td>
                        <td>
                            <input
                                name="bookid"
                                type="hidden"
                                value="{{ book.BOOK_ID }}"
                                #bookid
                            />
                            <input
                                name="qty"
                                type="number"
                                max="{{ book.QUANTITY }}"
                                value="1"
                                min="1"
                                #qty
                            />
                            <button class="btn btn-success" (click)="AddToCart(bookid.value, qty.value)">Aggiungi</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
