.btn, label {
  margin-top: 1rem;
  text-align: left;
}

form {
  margin-top: 10rem;
  padding: 3rem 7rem 5rem;
  background:rgb(241, 241, 241);
  border-radius: 15px;
  border: solid 2px rgb(223, 223, 223);
}

h2{
  text-align: center;
  margin-bottom: 3rem;
}