<h1>People</h1>

<p>This component demonstrates fetching data from the server.</p>

<form (ngSubmit)="OnSubmit()" #userForm="ngForm">
    <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-success">Submit</button>
    <div class="form-group">
        <label for="uid">ID</label>
        <input
            id="uid"
            name="uid"
            class="form-control"
            [(ngModel)]="user.id"
            required
            maxlength="3"
            #id="ngModel"
        />
        <div *ngIf="!(id.valid || id.pristine)" class="alert alert-danger">
            <div *ngIf="id.errors.required">Il campo è obbligatorio</div>
            <div *ngIf="id.errors.maxlength">Il campo deve essere massimo di tre cifre</div>
        </div>
    </div>
</form>

<table class="table" *ngIf="people">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Anni</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of people">
            <td>{{ person.id }}</td>
            <td>{{ person.nome }}</td>
            <td>{{ person.cognome }}</td>
            <td>{{ person.anni }}</td>
        </tr>
    </tbody>
</table>
